@import "colors";
@import "typography";

//MEDIA QUERIES VARIABLES

//Media queries
// @media screen and (min-width: $mobile) and (max-width: $desktop) {
//css code
* {
  box-sizing: border-box;
  font-family: "Luckiest Guy";
  padding: 1%;
}

html {
  font-size: calc(9px + 1vmin);
  background-color: black;
  background-image: url("../assets/images/background-text.svg");
  object-fit: cover;
}
